@import "./_variables.scss";

.footer {
  height: 40vh;
  width: 100vw;
  display: flex;
  padding: 0rem;
  margin: 0rem;
  flex-direction: column;
  background-image: url(../media/sky.jpg);
  background-size: cover;
  @include desktop {
    height: 70vh;
  }
}

.divide {
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  height: 5rem;
  width: 5rem;
  margin: 10px;
  transition: 0.5s;
  @include tablet{
    height: 10rem;
    width: 10rem;
  }
  @include laptop {
    height: 8rem;
    width: auto;
  }
  @include desktop {
    height: 20rem;
    width: auto;
    margin: 6rem;
  }
}

.social-media-container {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  width: 100vw;
}

.social-media-icon:hover {
  transform: scale(1.5);
  filter: hue-rotate(90deg);
}

.email {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  font-family: "Work Sans", sans-serif;
  color: gray;
  width: 25rem;
  margin: 1rem;
  @include tablet{
    width: 35rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  @include laptop {
    height: 5rem;
    width: 80rem;
    border-radius: 1rem;
    font-size: 3rem;
  }
  @include desktop {
    height: 7rem;
    width: 105rem;
    font-size: 5rem;
    border-radius: 2rem;
    padding: 1rem;
  }
}

.subscribe-button {
  background-color: #7985e5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 5px;
  margin: 3rem;
  @include tablet{
    margin: 3rem;
    height: 5rem;
    width: 15rem;
  }
  @include laptop {
    height: 5rem;
    width: 15rem;
  }
  @include desktop {
    height: 7rem;
    width: 20rem;
    margin: 10rem;
  }
}

.subscribe {
  color: white;
  font-family: "Signika", sans-serif;
  @include tablet{
    font-size: 3rem;
  }
  @include laptop {
    font-size: 3rem;
  }
  @include desktop {
    font-size: 4rem;
    margin: 0;
  }
}

.subscribe-button:active {
  @include laptop {
    filter: hue-rotate(90deg);
    transform: scale(1.3) rotate(5deg);
  }
  @include desktop {
    filter: hue-rotate(90deg);
    transform: scale(1.3) rotate(5deg);
  }
}

.subscribe-button:hover {
  cursor: pointer;
}

.email:focus {
  background-color: #efefef;
  color: black;
}
