.footer{
    height: 40vh;
    width: 100vw;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    @include desktop{
        height: 70vh;
    }
}

.divide{
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon{
    height: 5rem;
    width: 5rem;
    margin: 10px;
    @include desktop{
        height: 20rem;
        width: auto;
        margin: 6rem;
        transition: 0.5s;
    }
}

.social-media-container{
    display: flex;
    justify-content: space-around;
    height: 30vh;
    width: 100vw;
}

.social-media-icon:hover{
    @include desktop{
   transform: scale(1.5);
   filter: hue-rotate(90deg);
    }
}