.footer{
    height: 60vh;
    width: 100vw;
    display: flex;
    padding: 0rem;
    margin: 0rem;
}

.divide{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon{
    height: 30rem;
    width: 30rem;
}
