.fourth-content-block {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0rem;
  margin: 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #7985e5, #f1d9d7);
  @include laptop{
    flex-direction: row;
    justify-content: space-around;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}

.circle-image {
  border-radius: 3rem;
  height: auto;
  width: 30rem;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin: 3rem;
  object-fit: cover;
  @include tablet{
    height: auto;
    width: 50rem;
  }
  @include laptop{
    height: 35rem;
    width: auto;
    margin: 0rem;
  }
  @include desktop {
    height: 40rem;
    width: auto;
    z-index: 3;
    margin: 0rem;
  }
}

.circle-image1 {
  transition: 0.4s;
}

.circle-image2 {
  transition: 0.4s;
}

.circle-image1:hover {
  @include desktop {
    transform: scale(1.3);
  }
}

.circle-image2:hover {
  @include desktop {
    transform: scale(1.3);
  }
}
