@import "./_variables.scss";

//switch button to a div

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.cover-image {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url(../media/santorini-optimized.jpg);
  background-size: cover;
  background-position: top;
}

.blur-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blur {
  width: 100vw;
  height: 10rem;
  @include desktop {
    background: rgba(230, 230, 234, 0.21);
    backdrop-filter: blur(10px);
    width: 30rem;
    height: 100vh;
  }
}

.title-text {
  font-family: "Signika", sans-serif;
  color: white;
  font-size: 10rem;
  text-align: center;
  animation-name: title-float-in;
  animation-duration: 1s;
  @include desktop {
    font-size: 15rem;
    padding: 0px;
    transition: 0.3s;
  }
}

@keyframes title-float-in {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.title-text:hover {
  @include desktop {
    transform: translate(0%, -20%);
    filter: drop-shadow(1rem 3rem 5px rgba(0, 0, 0, 0.62));
  }
}

.splash-button-container {
  @include desktop {
    height: 10rem;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
}

.splash-button {
height: 0rem;
width: 0rem;
  @include desktop {
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
  }
}
