$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;
$tablet-rotated: 1000px;

@mixin desktop{
    @media(min-width: #{$desktop}){
      @content;
    }
  }
  
  @mixin laptop{
    @media(min-width: #{$laptop}){
      @content;
    }
  }
  
  @mixin tablet{
    @media(min-width: #{$tablet}){
      @content;
    }
  }

  @mixin tablet-rotated{
    @media(min-width: #{$tablet-rotated}){
      @content;
    }
  }
