$desktop: 1500px;
$laptop: 1100px;
$tablet: 600px;
$tablet-rotated: 1000px;

@mixin desktop{
    @media(min-width: #{$desktop}){
      @content;
    }
  }
  
  @mixin laptop{
    @media(min-width: #{$laptop}){
      @content;
    }
  }
  
  @mixin tablet{
    @media(min-width: #{$tablet}){
      @content;
    }
  }

  @mixin tablet-rotated{
    @media(min-width: #{$tablet-rotated}){
      @content;
    }
  }

  @mixin content-block{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0rem;
    margin: 0rem;
  }