$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;

@mixin desktop{
    @media(min-width: #{$desktop}){
      @content;
    }
  }
  
  @mixin laptop{
    @media(min-width: #{$laptop}){
      @content;
    }
  }
  
  @mixin tablet{
    @media(min-width: #{$tablet}){
      @content;
    }
  }

