html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body{
    margin: 0;
  }

  @import"./_header.scss";
  @import"./_variables.scss";
  @import"./_second-content-block";
  @import"./_third-content-block.scss";
  @import"./_fourth-content-block.scss";
  @import"./_footer.scss";
